body{
	font-size:3em;
}
h1{
	font-size:5em;
}
.input-box{
width:80%;
height:100px;
margin-bottom:20px;
}
.input{
height:100px;

}
.how-many{
width:80%;
height:100px;
}
.decide-button{
	width:80%;
	height:100px;
}

.decision {
    font-size: 50px;
}